*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

.page1{
    width: 100%;
    height: 100%;
    background-color: white;
}
nav{
    width: 100%;
    height:10vh ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 181, 181);
    font-size: 1.3vmax;
}
nav > h1 {
    font-weight: 700;
    font-size: 2.8vmax;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(16, 111, 29, 0.934);
    letter-spacing: 3px;
    margin-left: 4vmax;


}
nav ul{
    display: flex;
list-style-type: circle;   
 font-weight: 100;
}

nav ul li{
    margin-right: 6vmax;

}

nav li:hover {
    background-color: #ddd;
    color: #FF5403;
    cursor: pointer;
  }

nav i{
    font-size: 2vmax;
    margin-right: 6vmax;
}

.part1{
    width: 100%;
height: 25%;
text-align: center;
}

p{
    font-size: 4.8vmax;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2vmax;
}

 h2{
    font-size: 1.5vmax;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1vmax;
}

.b1{
border: none;
font-size: 1vmax;
padding: 1vmax;
border-radius: 3vmax;
color: white;
margin: 1.5vmax;
background-color: black;
}

button{
    border: none;
    padding: 1vmax;
border-radius: 3vmax;
color: rgb(4, 4, 4);

}

.leftbox1{
    width: 100%;
    height: 70%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
 
}
 .l1b1{
width: 17%;
    height: 55%;
    background-image: url(https://images.unsplash.com/photo-1609769274404-a603c8e97b68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGdyZWVuJTIwbGVhdmVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
   clip-path: polygon(0 0, 57% 0, 71% 12%, 96% 12%, 100% 20%, 100% 100%, 0 100%, 0% 30%);
    background-color: #FF5403;
    border-radius: 1.5vmax;
    margin-left: 2vmax;
    object-fit: cover;
    background-position: center;
 }

 .leftbox1 h1{
    font-size: 5vmax;
    margin-left: 2vmax;
    margin-top: 2vmax;
    color: white;
 }

 .leftbox1 p{
    font-size: 1vmax;
    margin-left: 2vmax;
    margin-top: 2vmax;
    color: white;
 }

 .l1b1 span{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     border-radius: 2vmax;
    background-color: rgba(16, 96, 17, 0.623);
    /* border: 1px solid; */
    border: none;
    color: white;
    padding: 2vmin 2vmax;
    margin-top: 1vmax;
    font-size: 1.2vmax;
    
 }


 .l1b1 span i{
    font-size: 1.5vmax;

    background-color: rgb(135, 212, 11);
    border-radius: 1vmax;
    
 }
 




 .boxx{
    width: 17%;
    height: 25%;
    background-color: black;
    border-radius: 1.8vmax;
    margin-left: -18vmax;
    margin-top: 20vmax;
 }

 .leftbox1 h2{
    font-size: 2.5vmax;
    color: white;
    margin-left: 2vmax;
    margin-top: 2vmax;
 }

 .l1b2{
    width: 17%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1486190204932-5fcd44cb15b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1181&q=80);
   clip-path: polygon(0 0, 57% 0, 71% 12%, 96% 12%, 100% 20%, 100% 100%, 0 100%, 0% 30%);
    background-color: #044964;
    border-radius: 1.5vmax;
    margin-top: 12vmax;
    object-fit: cover;
    background-position: center;
 }

 .leftbox1 .l1b2 h3{
    font-size: 1.5vmax;
    color: white;
    margin-left: 1.5vmax;
    margin-top: 1.5vmax;
  
 }
 .leftbox1 .l1b2 h5{
    font-size: 1.7vmax;
    margin-left: 2vmax;
 margin-top: 7vmax;
 color: white;
 }
 

 .m-box{
    width: 18%;
    height: 40%;
    background-color: #AAAAAA;
    border-radius: 1.8vmax;
    margin-left: 1vmax;
    margin-top: 15vmax;

 }

 .m-box span{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
     border-radius: 2vmax;
    background-color: lightgray ;
    border: 1px solid;
    border: none;
    color: black;
    padding: 1.8vmin 3vmax;
    margin-top: 2vmax;
    font-size: 1.2vmax;
 }

 .m-box span i{
    font-size: 1.5vmax;
    background-color: rgb(61, 48, 48);
    border-radius: 1vmax;
 }

 .leftbox1 h4{
    font-size: 2.5vmax;
    margin-left: 2vmax;
    margin-top: 2vmax;
 }

 .r1b1{
    width: 17%;
    height: 52%;
    background-image: url(https://images.unsplash.com/photo-1550328434-90bb77cf8b92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHBvb3IlMjBjaGlsZCUyMHBvcnRyYWl0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    clip-path: polygon(39% 8%, 46% 0, 100% 0, 100% 70%, 100% 100%, 0 100%, 0 14%, 4% 8%);
    background-color: #8ac02d;
    border-radius: 1.5vmax;
    margin-left: 2vmax;
    margin-top: 11vmax;
    object-fit: cover;
    background-position: center;

 }

 .r1b1 h1{
    font-size: 1.5vmax;
margin-left: 1vmax;
 }

 .r1b1 p{
    font-size: 2vmax;
    margin-left: 1vmax;
    margin-top: 7vmax;
 }

 .r1b2{
    width: 17%;
    height: 54%;
    background-image: url(https://images.unsplash.com/photo-1574346190599-fecc607f8ba2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y291cGxlJTIwaGFuZHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    clip-path: polygon(39% 8%, 46% 0, 100% 0, 100% 70%, 100% 100%, 0 100%, 0 14%, 4% 8%);
    
    border-radius: 1.5vmax;
    
    background-size: cover;
    background-position: center;

 }

 .r1b2 span{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     border-radius: 2vmax;
    background-color: rgba(146, 217, 38, 0.634);
    border: 1px solid;
    border: none;
    color: black;
    padding: 1.8vmin 3vmax;
    margin-top: 14vmax;
    font-size: 1.2vmax;
 }

 .r1b2 span i{
    font-size: 1.5vmax;
    background-color: rgb(61, 48, 48);
    border-radius: 1vmax;
 }

 .boxx2{
    width: 17%;
    height: 25%;
    background-color: rgb(4, 59, 4);
    border-radius: 1.8vmax;
    margin-left: -18vmax;
    margin-top: 20vmax;
 }

 .boxx2 h1{
    font-size: 2.2vmax;
 }

/* ------------------------------------------------------------ */

 .page2{
    width: 100%;
    height: 100%;
    

 }

 .page2 .part2{
    width: 95%;
    height: 100%;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 2vmax;
    margin: 2.5vmax;
 }

 .page2 h1{
    font-size: 5vmax;
    padding-top: 7vmax;
 }

 .part2-p1{
width: 100%;
height: 70%;
display: flex;
flex-direction: row;
}

.part2-p1 .part-lblock h1{
font-size: 3vmax;
margin-left: 4vmax;
margin-top: 2vmax;
}

.part2-p1 .part-lblock p{
    font-size: 1.5vmax;
    margin-left: 5vmax;
}

.part2-p1 .part-mblock h1{
    font-size: 3vmax;
margin-left: 8vmax;
margin-top: 1.6vmax;
}


.part2-p1 .part-mblock p{
    font-size: 1.5vmax;
    margin-left: 8vmax;
    margin-top: .3vmax;
}

.part2-p1 .part-rblock h3{
    font-size: 3vmax;
margin-left: 8vmax;
margin-top: 8vmax;
}


.part2-p1 .part-rblock p{
    font-size: 1.5vmax;
    margin-top: 3.5vmax;
    margin-left: 8vmax;
}

/* ------------------------------------------------------- */

.page3{
    width: 100%;
    height: 15%;
    /* display: flex;
    flex-direction: row; */
    /* background-color: red; */
}

.page3 h1{
    font-size: 3vmax;
padding: 4vmax; 
   margin-left: 2vmax
   
}

/* --------------------------------------------------------------- */

.page4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}

.page4 .block-p4{
    width: 100%;
    height: 70%;
    margin: 3vmax;
    /* background-color: #8ac02d; */
display: flex;
justify-content: space-around;
flex-direction: row;
}

.page4 .block-p4 .p4-lb{
    width: 25%;
    height: 95%;
    border-radius: 2vmax;
    border: .3vmax solid rgb(242, 233, 233);
   
}

.page4 .block-p4 .p4-lb img{
    width: 95%;
    height: 50%;
    border-radius: 1.5vmax;
   margin-left: .5vmax;
   margin-top: .5vmax;
}

.page4 .block-p4 .p4-lb h1{
    font-size: 1.5vmax;
    margin-top: 1vmax;
    margin-left: 1vmax;

}

.page4 .block-p4 .p4-lb h2{
    font-size: 1vmax;
    margin-top: 2.5vmax;
    margin-left: 1vmax;
}

.page4 .block-p4 .p4-lb h3 {
font-size: 1.5vmax;
margin-left: 1vmax;
margin-top: 1vmax;
}

.page4 .block-p4 .p4-lb>h3>p{
    font-weight: 100;
    font-size: 1vmax;
    margin-left: 5.5vmax;
    margin-top: -1vmax;
}

.page4 .block-p4 .p4-lb  p{
    font-size: 1vmax;
    font-weight: 100;
    margin-top: 1vmax;
    margin-left: 1vmax;

}

.page4 .block-p4 .p4-mb{
    width: 25%;
    height: 95%;
    border-radius: 2vmax;
    border: .3vmax solid rgb(242, 233, 233);
}

.page4 .block-p4 .p4-mb img{
    width: 95%;
    height: 50%;
    border-radius: 1.5vmax;
   margin-left: .5vmax;
   margin-top: .5vmax;
}

.page4 .block-p4 .p4-mb h2{
    font-size: 1vmax;
    margin-top: 2.5vmax;
    margin-left: 1vmax;
}

.page4 .block-p4 .p4-mb h3 {
font-size: 1.5vmax;
margin-left: 1vmax;
margin-top: 1vmax;
}

.page4 .block-p4 .p4-mb>h3>p{
    font-weight: 100;
    font-size: 1vmax;
    margin-left: 5.5vmax;
    margin-top: -1vmax;
}
.page4 .block-p4 .p4-mb h1{
    font-size: 1.5vmax;
    margin-top: 1vmax;
    margin-left: 1vmax;
}

.page4 .block-p4 .p4-mb p{
    font-size: 1vmax;
    font-weight: 100;
    margin-top: 1vmax;
    margin-left: 1vmax;

}

.page4 .block-p4 .p4-rb{
    width: 25%;
    height: 95%;
    border-radius: 2vmax;
    border: .3vmax solid rgb(242, 233, 233);
}

.page4 .block-p4 .p4-rb img{
    width: 95%;
    height: 50%;
    border-radius: 1.5vmax;
   margin-left: .5vmax;
   margin-top: .5vmax;
}

.page4 .block-p4 .p4-rb h2{
    font-size: 1vmax;
    margin-top: 2.5vmax;
    margin-left: 1vmax;
}

.page4 .block-p4 .p4-rb h3 {
font-size: 1.5vmax;
margin-left: 1vmax;
margin-top: 1vmax;
}

.page4 .block-p4 .p4-rb>h3>p{
    font-weight: 100;
    font-size: 1vmax;
    margin-left: 6vmax;
    margin-top: -1vmax;}

.page4 .block-p4 .p4-rb h1{
    font-size: 1.5vmax;
    margin-top: 1vmax;
    margin-left: 1vmax;

}

.page4 .block-p4 .p4-rb p{
    font-size: 1vmax;
    font-weight: 100;
    margin-top: 1vmax;
    margin-left: 1vmax;

}

/* -------------------------------------------------------------- */

.page5{
    width: 100%;
    height: 100%;
    display: flex;

}

.page5 .p5-lbox{
    width: 20%;
    height: 100%;
    /* background-color: red; */
}

.page5 .p5-lbox .p5limg1{
    width: 65%;
    height: 25%;
    border-radius: 1vmax;
    background-color: aqua;
    margin-left: 10vmax;
    margin-top: 12vmax;
    background-image: url(https://images.unsplash.com/photo-1528502668750-88ba58015b2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJsYWNrJTIwYm95fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
 object-fit: cover;
    background-position: center;
}

/* .page5 .p5-lbox .p5limg1 img{
    object-fit: cover;
    background-position: center;
} */

.page5 .p5-lbox .p5limg2{
    width: 45%;
    height: 18%;
    border-radius: 1vmax;
    background-color: aqua;
    margin-left: 15vmax;
    margin-top: 5vmax;
    background-image: url(https://images.unsplash.com/photo-1547082661-71362fc3969c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGJsYWNrJTIwYm95fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60) ;
    object-fit: cover;
    background-position: center;

}

.page5 .p5-mbox{
    width: 90%;
    height: 100%;
    /* background-color: blue; */
    text-align: center;
}

.page5 .p5-mbox h3{
    color: black;
    font-size: 2.5vmax;
    font-weight: 300;
    /* margin-top: 3vmax; */
    padding: 8vmax;
    /* background-color: #FF5403; */
}

.page5 .p5-mbox h1{
    font-size: 10vmax;
    font-weight: 900;
    /* background-color: #8ac02d; */
    margin-top: -3vmax;

}

.page5 .p5-mbox p{
    font-size: 1vmax;
    font-weight: 600;
}

.page5 .p5-mbox button{
border: none;
color: white;
background-color: black;
}

.page5 .p5-rbox{
    width: 20%;
    height: 100%;
    /* background-color: green; */
}

.page5 .p5-rbox .p5rimg1{
    width: 45%;
    height: 18%;
    border-radius: 1vmax;
    /* background-color: aqua; */
    margin-left: -5.5vmax;
    margin-top: 12vmax;
 background-image: url(https://images.unsplash.com/photo-1536337005238-94b997371b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fGJsYWNrJTIwYm95fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    object-fit: cover;
    background-position: center;

}

.page5 .p5-rbox .p5rimg2{
    width: 65%;
    height: 25%;
    border-radius: 1vmax;
    background-color: aqua;
    margin-left: -10vmax;
    margin-top: 7vmax;
    background-image: url(https://images.unsplash.com/photo-1508431640151-f2217ef26c31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njl8fGJsYWNrJTIwYm95fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
 object-fit: cover;
    background-position: center;
}

/* -------------------------------------------------------------- */

.page6{
    width: 100%;
    height: 40%;
    /* background-color: #FF5403; */
    padding: 2vmax;
    display: flex;
    flex-direction: column;
}

.page6 .rotatebox1{
    width: 100%;
    height: 30%;
    background-color: rgb(2, 39, 2);
    rotate: 1deg;
padding: 1vmax;
}

.page6 .rotatebox1{
color: white;
}

.page6 .rotatebox2{
    width: 100%;
    height: 30%;
    rotate: -5deg;
    background-color: rgba(45, 237, 45, 0.756);
}

.page6 .rotatebox2{
    color: white;
}

/* //------------------------------------------------------------ */

.page7{
    width: 100%;
    height: 100%;
   }

   .page7 .n1box {
width: 100%;
height: 28%;
text-align: center;
padding: 4vmax;
   }

   .page7 .n1box h1{
    font-size: 3vmax;
   }

   .page7 .n1box p{
    font-size: 1vmax;
    font-weight: 500;
   }

 .page7 .n2box{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: black; */
 }

.page7 .p7-b1{
    width: 20%;
    height: 88%;
    margin-top: 3vmax;
    border-radius: 1vmax;
    clip-path: polygon(63% 0, 71% 8%, 100% 8%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);

    background-color: #8ac02d;
    background-image: url(https://images.unsplash.com/photo-1530648648507-b9056726849a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fG11c2xpbSUyMGJveSUyMHBvcnRyYWl0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    object-fit: cover;
    background-position: center;
}

.page7 .p7-b2{
    width: 20%;
    height: 88%;
    margin-top: 3vmax;
    border-radius: 1vmax;
    clip-path: polygon(63% 0, 71% 8%, 100% 8%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);

    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1628258475358-b948d5bc0c0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fG11c2xpbSUyMGdpcmwlMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    object-fit: cover;
    background-position: center;
}
.page7 .p7-b3{
    width: 20%;
    height: 88%;
    margin-top: 3vmax;
    border-radius: 1vmax;
    background-color: red;
    clip-path: polygon(63% 0, 71% 8%, 100% 8%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);

    background-image: url(https://images.unsplash.com/photo-1544059529-9a9a0a4ef94f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fG11c2xpbSUyMGdpcmwlMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.page7 .p7-b4{
    width: 20%;
    height: 88%;
    margin-top: 3vmax;
    border-radius: 1vmax;
    background-color: blue;
    clip-path: polygon(63% 0, 71% 8%, 100% 8%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);

    background-image: url(https://plus.unsplash.com/premium_photo-1663956049637-da37ca616dfe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page7 .nameboxes{
    width: 100%;
    height: 10%;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.page7 .nameboxes .namebox1 h1{
font-size: 1.5vmax;
/* margin-left: vmax; */
font-weight: 400;
font-family: 'Josefin Sans', sans-serif;
}


.page7 .nameboxes .namebox2 h1{
    font-size: 1.5vmax;
margin-left: 1vmax;
font-weight: 400;
font-family: 'Josefin Sans', sans-serif;

}

.page7 .nameboxes .namebox3 h1{
    font-size: 1.5vmax;
/* margin-right: 2vmax; */
font-weight: 400;
font-family: 'Josefin Sans', sans-serif;
}

.page7 .nameboxes .namebox4 h1{
    font-size: 1.5vmax;
margin-right: -1vmax;
font-weight: 400;
font-family: 'Josefin Sans', sans-serif;
}

/* --------------------------------------------------------- */

    .page8{
        width: 100%;
        height: 100%;
    }

    .page8 .p8-part1{
        width: 90%;
        height: 90%;
        background-color: rgb(197, 188, 188);
        margin: 4vmax;
        margin-left: 5vmax;
        margin-bottom: 8vmax;
        border-radius: 1vmax;
        text-align: center;
    }

.page8 .p8-part1 h1{
    font-size: 7vmax;
    /* margin-top: -1vmax; */
    /* background-color: #044964; */
}

    .page8 .p8-part1 h3{
     font-size: 3vmax;
     font-weight: 600;
    }

.page8 .p8-part1 p{
    font-size: 1vmax;
    font-weight: 400;
    margin-top: 1vmax;
}

.page8 .p8-part1 .p8-rowss{
    width: 100%;
    height: 60%;
    margin-top: 2.3vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page8 .p8-row1{
width: 100%;
height: 18%;
/* background-color: #044964; */
}

.page8 .p8-row1 h1{
    font-size: 2vmax;
    font-weight: 500;
    color: rgba(2, 78, 2, 0.844);
   
}

.page8 .p8-row1 p{
    font-size: 1vmax;
    font-weight: 400;
     margin-left: -41vmax;
     
      color: rgba(2, 78, 2, 0.844);
}

.page8 .p8-row2{
width: 100%;
height: 10%;
/* background-color: #044964; */
}

.page8 .p8-row2 h1{
    font-size: 1.8vmax;
    font-weight: 500;
    color: rgba(2, 78, 2, 0.844);
   
}

.page8 .p8-row3{
width: 100%;
height: 10%;
/* background-color: #044964; */
}

.page8 .p8-row3 h1{
    font-size: 1.8vmax;
    font-weight: 500;
    /* margin-left: -68vmax; */
    color: rgba(2, 78, 2, 0.844);
   
}

.page8 .p8-row4{
width: 100%;
height: 10%;
/* background-color: #044964; */
}

.page8 .p8-row4 h1{
    font-size: 1.787vmax;
    font-weight: 500;
    /* margin-left: -68vmax; */
    color: rgba(2, 78, 2, 0.844);
   
}

.page8 .p8-row5{
width: 100%;
height: 10%;
/* background-color: #044964; */
}

.page8 .p8-row5 h1{
    font-size: 1.78vmax;
    font-weight: 500;
    /* margin-left: -68vmax; */
    color: rgba(2, 78, 2, 0.844);
   
}

/* ----------------------------------------------------------- */

.page9{
    width: 90%;
    height: 55%;
    margin: 4.5vmax;
    margin-top: -2vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   background-color: #043D2C;
 border-radius: 50px;}

.top{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: aqua; */
}

.tb1{
    width: 40%;
    height: 100%;
    margin: 3vmax;
    /* background-color: black; */
}

.tb1 h1{
    font-size: 2vmax;
    color: white;
    /* margin-top: -5vmax; */
}

.tb1 p{
    font-size: 1.5vmax;
    font-weight: 500;
    color: white;
    /* margin-top: 2vmax; */


}

.tb2{
    width: 70%;
    height: 100%;
 /* background-color: red; */
}

.listitem{
    display: flex;
    flex-direction: row;
    font-weight: 200;
    color: white;
    justify-content: space-around;
}

.list-1 ul li{
    margin-top: 1.5vmax;
    /* font-weight: 400; */
}

.list-2 ul li{
    margin-top: 1.5vmax;
}

.list-3 ul li{
    margin-top: 1.5vmax;
}

.bottom{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/* background-color: royalblue; */
}

.bottom p{
    font-size: 1vmax;
    font-weight: 400;
    margin-left: -33vmax;
    margin-top: 5vmax;
    color: white;
}

.bottom span{
    width: 17%;
    height: 39%;
    text-align: center;
    align-items: center;
    margin-right: 5vmax;
    border-radius: 2vmax;
    background-color: transparent;
    border: 1px solid;
    color: white;
    padding: .5vmax 1vmax;
    margin-top: 4vmax;
}

.bottom span i{
    background-color: lightgreen;
    border-radius: 1vmax;
} 
/* -------------------------------------------------------------- */
